DB_URI=postgresql://username:password@localhost:5432/db-contacts?schema=public
JWT_SECRET=your_jwt_secret_key
PORT=3000
UKRNET_USER=your_ukrnet_email@ukr.net
UKRNET_PASS=your_ukrnet_password
BASE_URL=http://localhost:3000/api